/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: radial-gradient(circle at top, #0d1117, #05080c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  background-color: #161b22;
  padding: 25px;
  border-radius: 14px;
  width: 270px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.7);
  transition: 0.3s;
}

.container:hover {
  transform: translateY(-3px);
}

/* Heading */
h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
}

h2 {
  color: #d1d5db;
  margin: 20px 0 10px;
  font-size: 15px;
}

/* Color Picker */
#colorInput {
  width: 90px;
  height: 90px;
  border: none;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  border-radius: 8px;
}

/* Color Code */
#colorCode {
  color: #facc15;
  font-weight: bold;
  margin: 10px 0;
  font-size: 14px;
}

/* Buttons */
button {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: black;
  border: none;
  padding: 7px 12px;
  margin: 8px 0;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  width: 100%;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Complementary Color Box */
#complementaryContainer {
  margin-top: 10px;
}

#complementaryContainer div {
  width: 45px;
  height: 45px;
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(255,255,255,0.1);
}

/* Favourite Colors */
#favouriteContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 10px;
}

#favouriteContainer div {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}

#favouriteContainer div:hover {
  transform: scale(1.2);
}