
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}


.calculator {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 25px;
    width: 320px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.calculator h1 {
    margin-bottom: 20px;
    font-size: 22px;
}


.calculator input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}


.calculator input::placeholder {
    color: #ddd;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.button button {
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: 0.3s;
}

.button button:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}


#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 400px) {
    .calculator {
        width: 90%;
        padding: 20px;
    }

    .calculator h1 {
        font-size: 18px;
    }

    .button button {
        padding: 10px;
        font-size: 16px;
    }
}