*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.container{
    text-align: center;
}

input ,button{
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border-radius: 10px;
}